
/* Container classes */

.main-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 4.5625rem;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid #000
}

.grid-item {
  flex: 1 0 auto;
  box-sizing: border-box; /* Ensures borders are included in width/height */
}


.grid-border {
  border: 0.03125rem solid #ddd;
}


/* Brush mode */




